.main {
  display: grid;
  grid-template-columns: repeat(4, minmax(19rem, 1fr));
  margin-top: 200px;
  grid-column-gap: 15px;
  margin-left: 25px;
  margin-right: 25px;
  height: 382px;
}
.cardMain {
  box-shadow: 0px 2px 6px 0px #c7b9c7;
  border-style: solid;
  border-width: 0ch;
  height: 340px;
  width: 330px;
  position: relative;
  padding: 1em auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1em auto;
}
.equipImage {
  padding-top: 2em;
  padding-bottom: 0.5em;
  position: relative;
  border: none;
  justify-content: center;
  margin: 0em auto;
  display: inline-block;
  width: 200px;
  height: 300px;
}
.text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
}

.card-body {
  padding: 0%;
}

/* img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.06);
  transition: 1s ease;
} */
